h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand';
    color: #141414;
    margin: 0;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
}

h4 {
    font-size: 1.75rem;
}

span.color-red {
    color: #CD2652;
}

span.dot {
    height: 2.4rem;
    width: 2.4rem;
    background-color: #CD2652;
    border-radius: 50%;
    position: absolute;
    left: -1.4rem;
    
}

header {
    line-height: 5rem;
    height: 7rem;
    padding: 1rem 0;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.header-l {
    float: left;
}

.header-l h2 {
    display: inline-block;
    line-height: 5rem;
}

.header-r {
    float: right;
}

.header-r ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-r li {
    display: inline-block;
    font-family: 'Quicksand';
    font-size: 24px;
    text-align: center;
    width: 10rem;
}

.header-r .head-icon-circle {
    width: 1.5rem;
    font-size: 1rem;
}

.header-r .head-icon-search {
    width: 6rem;
    line-height: 1.5rem;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
}

.head {
    margin: 5rem;
}

.head h4 {
    display: inline-block;
    margin: 1rem;
}

.head hr {
    display: inline-block;
    width: 15%;
    border: 4px solid #CD2652;
    border-radius: 0.75rem;
    margin: 0;
}

.content p {
    font-family: 'Montserrat';
    font-size: 0.8rem;
}

.content-l {
    width: 50%;
    border-right: 0.25rem solid #141414;
    padding-right: 2rem;
    position: relative;
}

.content-r {
    width: 50%;
    border-left: 0.25rem solid #141414;
    padding-left: 2rem;
    position: relative;
}




footer {
    margin: 5rem 0;
}

footer p {
    font-family: 'Quicksand';
    font-size: 1.25rem;
}

@media only screen and (max-width: 780px) {
    header ul {
        display: none;
    }

}

@media only screen and (max-width: 480px) {

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
    }
    
    h2 {
        font-size: 2rem;
        font-weight: bold;
    }
    
    h3 {
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    h4 {
        font-size: 1.2rem;
    }

    header {
        height: 4rem;
        line-height: 2rem;
    }

    .header-l h2 {
        display: inline;
        line-height: 2rem;
    }

    .content p {
        font-size: 0.6rem;
    }

    footer p {
        font-family: 'Quicksand';
        font-size: 1rem;
    }

}